<%= stylesheet_link_tag '/designs/themes/default/block_store.css' %>

<h1><%= _('Editing sideboxes')%></h1>

<% button_bar :class=>'design-menu' do %>
  <%= button(:back, _('Back to control panel'), :controller => (profile.nil? ? 'admin_panel': 'profile_editor')) %>
<% end %>

<div id="block-types">
  <% @blocks.each do |block| %>

    <div id="block-<%=block.name%>" class="block-type <%= block.name.to_css_class %>">
      <div class="button-bar">
        <%= link_to content_tag('span', _('Help on this block')),
                    {:controller => 'environment_design', :action => 'show_block_type_info', :type => block.name},
                    :class => "button icon-button icon-help colorbox",
                    :title => _('Help on this block') %>
        <br style="clear: left">
      </div>
      <div>
        <%= image_tag(block.icon, height: '48', width: '48', class: 'block-type-icon', alt: '' ) %>
      </div>
      <span><%= _(block.description) %></span>
    </div>

    <%= draggable_element("block-#{block.name}", :revert => true) %>
  <% end %>
</div>
