<div id="block-info-container">

  <div id="bs-block-header">
    <%= display_icon(@block) %>
    <h1><%= @block.pretty_name %></h1>
    <p><%= @block.short_description %></p>
  </div>

  <div id="block-info-images">
    <div style="white-space: nowrap;">
      <% if @block.previews_path.empty? %>
        <% for i in 0..2 %>
          <%= image_tag(@block.default_preview, height: '240', width: '384', alt: '') %>
        <% end %>
      <% else %>
        <% @block.previews_path.each do |preview| %>
          <%= image_tag(preview, height: '240', width: '384', alt: '') %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="block-info-description">
    <h2><%= _('Description') %></h2>
    <p><%= @block.description %></p>
  </div>

</div>
