<%= stylesheet_link_tag 'tasks' %>

<div class="task-processed">
<h1><%= _("%s's processed tasks") % profile.name %></h1>

<div class="task-processed-filter">
<%
  type_collection = [[nil, _('All')]] + @task_types
%>
  <%= form_tag '#', :method => 'get' do %>
    <%= field_set_tag _('Filter'), :class => 'filter_fields' do %>
      <div>
        <%= labelled_select(_('Type of task')+': ', :filter_type, :first, :last, @filter_type,  type_collection, {:id => 'filter-type'}) %>
        <%= labelled_select(_('Status:'), :filter_status, :last, :first, @filter_status, [[_('Any'), nil], [Task::Status.names[Task::Status::CANCELLED], 2], [Task::Status.names[Task::Status::FINISHED], 3] ]) %>
      </div>

      <div>
        <%= labelled_text_field(_('Text Filter:'), :filter_text, @filter_text) %>
        <%= labelled_text_field(_('Requestor Name:'), :filter_requestor, @filter_requestor) %>
      </div>

      <%= labelled_form_field(_('Creation date'), date_range_field(:filter_created_from, :filter_created_until, @filter_created_from, @filter_created_until, '%Y-%m-%d', { :change_month => true, :change_year => true, :date_format => 'yy-mm-dd' }, { :size => 14, :from_id => 'filter_created_from', :to_id => 'filter_created_until' })) %>
      <%= labelled_form_field(_('Processed date'), date_range_field(:filter_closed_from, :filter_closed_until, @filter_closed_from, @filter_closed_until, '%Y-%m-%d', { :change_month => true, :change_year => true, :date_format => 'yy-mm-dd' }, { :size => 14, :from_id => 'filter_closed_from', :to_id => 'filter_closed_until' })) %>

      <p>
        <%= submit_button(:search, _('Search')) %>
      </p>
    <% end %>
  <% end %>
</div>

<p>
<% if @tasks.empty? %>
  <em><%= _('No processed tasks.') %></em>
<% else %>
  <ul class="task-list">
    <% @tasks.each do |item| %>
      <li class="task status-<%= item.status%>">
        <div class="title">
          <strong><%= task_information(item) %></strong> <br/>
        </div>
        <div>
          <span><%= _('Status: ') %></span>
          <span>
            <%= Task::Status.names[item.status] %>
          </span>
        </div>
        <small>
          <%= _('Created:')   +' '+ show_date(item.created_at) %>
          &nbsp; &#151; &nbsp;
          <%= _('Processed:') +' '+ show_date(item.end_date) %>
        </small>
      </li>
    <% end %>
  </ul>
  <%= pagination_links(@tasks)%>
<% end %>
</p>

<% button_bar do %>
  <%= button(:back, _('Back'), :action => 'index') %>
<% end %>

</div>
