<div class="comment-paragraph-plugin-settings">
  <h1><%= _("Comment Paragraph Plugin Settings") %></h1>

  <%= form_for(:settings) do |f| %>

    <div class="activation-mode">
      <h4><%= _('Activation Mode') %></h4>
      <div class="auto">
        <%= f.radio_button(:activation_mode, 'auto') %> <%= _('Auto') %>
      </div>
      <div>
        <%= f.radio_button(:activation_mode, 'manual') %> <%= _('Manual') %>
      </div>
    </div>

    <% button_bar do %>
      <%= submit_button(:save, _('Save'), :cancel => {:controller => 'plugins', :action => 'index'}) %>
    <% end %>

  <% end %>
</div>
