<%= form_for(:custom_query, :url => {:action => @custom_query.persisted? ? :update : :create, :id => @custom_query.id}) do |f| %>
  <% if @custom_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_query.errors.count, "error") %>:</h2>

      <ul>
      <% @custom_query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :query %><br />
    <%= f.text_area :query %>
  </div>
  <div class="field">
    <%= f.label :template %><br />
    <%= f.text_area :template %>
  </div>
  <div class="field">
    <%= f.label :stylesheet %><br />
    <%= f.text_area :stylesheet %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
