<% dspace_server_url = @collection.parent.parent.dspace_server_url %>

<% if dspace_server_url =~ /\/$/ %>
  <% dspace_server_url.gsub!(/\/$/,'') %>
<% end %>

<div id="article-parent">
  <%= button(:back, _('Go back to %s') % @collection.short_title, @collection.url) %>
</div>

<div id="dspace_library_item">

  <div id="dspace_item_title">
    <%= content_tag 'h1', @item.name, :class => 'title' %>
  </div>

  <br />

  <div class="dspace_item_section">
    <%= content_tag 'div', _('Authors:'), :class => 'dspace_item_section_title' %>
    <%= content_tag 'div', @item.author, :class => 'dspace_item_section_value' %>
  </div>

  <br />

  <div class="dspace_item_section">
    <%= content_tag 'div', _('Issue date:'), :class => 'dspace_item_section_title' %>
    <%= content_tag 'div', @item.issue_date, :class => 'dspace_item_section_value' %>
  </div>
  <br />

  <div class="dspace_item_section">
    <%= content_tag 'div', _('Abstract:'), :class => 'dspace_item_section_title' %>
    <%= content_tag 'div', @item.abstract, :class => 'dspace_item_section_value' %>
  </div>

  <br />

  <div class="dspace_item_section">
    <%= content_tag 'div', _('Description:'), :class => 'dspace_item_section_title' %>
    <%= content_tag 'div', @item.description, :class => 'dspace_item_section_value' %>
  </div>

  <br />

  <div class="dspace_item_section">
    <%= content_tag 'div', _('URI:'), :class => 'dspace_item_section_title' %>
    <%= content_tag 'div', link_to(@item.uri, @item.uri), :class => 'dspace_item_section_value' %>
  </div>

  <br />

  <div class="dspace_item_section">
    <%= content_tag 'div', _('Files in this item'), :class => 'dspace_item_section_title' %>
    <ul id="item_files_list">
    <% @item.files.each do |file| %>
      <li>
        <ul class="item_file_attributes_list">
          <li><span>File:</span> <%= link_to file.name, dspace_server_url + file.retrieve_link %></li>
          <li><span>Description:</span> <%= file.description %></li>
          <li><span>Size:</span> <%= number_to_human_size( file.size_bytes ) %></li>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>

<div>
