<div id="gitlab">

<h3>
  <%= labelled_check_box('', 'profile_data[allow_gitlab_integration]', true, profile.allow_gitlab_integration, {:class => "toggle_checkbox", 'data-selector' => "ul.gitlab"}) %>
  <%= _('Gitlab Integration') %>
</h3>
<ul class="gitlab">
  <li>
    <span class="label"><%= _('Server Host:') %><span>
    <span class="value"><%= profile.gitlab_host %><span>
  <%= link_to _('Force'), {:controller => 'serpro_integration_plugin_myprofile', :action => 'create_gitlab'}, {:remote => true} %>
  </li>
  <li>
    <%= labelled_text_field(_('Group Name:'), 'profile_data[serpro_integration_plugin_gitlab][group]', profile.gitlab_group) %>
  </li>
  <li>
    <%= labelled_text_field(_('Project Name:'), 'profile_data[serpro_integration_plugin_gitlab][project_name]', profile.gitlab_project_name ) %>
  </li>
</ul>
</div>
