<div class="virtuoso-triples-template">
  <%= required_fields_message %>

  <%= render :file => 'shared/tiny_mce' %>

  <%= required labelled_form_field(_('Title'), text_field(:article, 'name', :size => '64', :maxlength => 150)) %>
  <%= labelled_form_field(_('SPARQL Query'), text_area(:article, :query, :style => 'width: 98%; height: 120px;')) %>

  <div class="template">
    <span class="label"><%= _('Template') %></span>
    <span class="reference" style="float: right;"><a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers"><%= _('Template reference') %></a></span>
    <span class="input">
      <%= text_area(:article, :template, :style => 'width: 98%; height: 200px;', :class => 'mceEditor') %>
    </span>
  </div>

  <%= render :partial => 'shared/lead_and_body', :locals => {:tiny_mce => true} %>
  <%= render :partial => 'general_fields' %>
</div>
