<div>
  <% contents.each do |content| %>
    <% if content.display_to?(user) %>
      <div class="video-gallery-thumbnail">
        <div class="video-gallery-top-box">
          <%= link_to content.view_url do %>
            <img  width="<%= content.thumbnail_fitted_width %>" height="<%= content.thumbnail_fitted_width %>" src='<%= content.video_thumbnail_url %>' class="disable-zoom"/>
          <% end  %>
        </div>
        <div class="video-gallery-botton-box">
            <div class="video-author">
              <%= _("by")  %> <%= content.author.name %> <%= _("updated at") %>  <%= time_ago_as_sentence(content.updated_at)  %>
            </div>
            <div class="video-title"><%= content.title %></div>
        </div>
      </div>
    <% end %>
  <% end %>
<p><%= pagination_links contents, :param_name => 'npage', :page_links => true %></p>
</div>
