<div>
  <% contents.each do |content| %>
    <%#=  py content %>
    <% if content.display_to?(user) %>
      <div class="video-gallery-thumbnail">
        <div class="video-gallery-top-box">
          <%= link_to content.view_url do %>
            <img  width="<%= content.thumbnail_fitted_width %>" height="<%= content.thumbnail_fitted_width %>" src='<%= content.video_thumbnail_url %>' class="disable-zoom"/>
          <% end  %>
        </div>
        <div class="video-gallery-botton-box">
          <font size="1em"><%= content.title %></font>
        </div>
      </div>
    <% end %>
  <% end %>
<p><%= pagination_links contents, :param_name => 'npage', :page_links => true %></p>
</div>
