<%= javascript_include_tag '/plugins/virtuoso/edit-server-list' %>

<h1><%= _('Virtuoso settings')%></h1>

<%= form_for(:settings) do |f| %>

  <strong>
    <%= labelled_form_field _('Virtuoso URL:'), f.text_field(:virtuoso_uri) %>
    <%= labelled_form_field _('Virtuoso Username:'), f.text_field(:virtuoso_username) %>
    <%= labelled_form_field _('Virtuoso Password:'), f.password_field(:virtuoso_password) %>
    <%#= labelled_form_field _('DSpace URL:'), f.text_field(:dspace_uri) %>
  </strong>


<!-- Iníco bloco link original -->
<%  raise @settings[:settings].to_yaml %>

<strong><%= _('Dspace Servers') %></strong>
<div id='edit-server-list-block'>
  <ul class='link-list-header'>
    <li class='link-list-name'><%= _('DSpace URL') %></li>
  </ul>
  <ul id="dropable-server-list">
    <% for dspace_uri in @settings[:dspace_servers] do %> 
      <%= render :partial => 'server_list_item', :locals => {:dspace_uri => dspace_uri} %>
    <% end %>
  </ul>

  <div id="new-template">
    <% template_server = {'icon' => 'ok'} %>
    <%= render :partial => 'server_list_item', :locals => {:server => {} } %>
  </div>
</div>

<%= link_to_function(_('New Dspace Server'), 'add_new_server();', :class => 'button icon-add with-text') %>


<!-- FIm bloco link original -->



  <% button_bar do %>
    <%= submit_button(:save, _('Save'), :cancel => {:controller => 'plugins', :action => 'index'}) %>
  <% end %>

<% end %>






<hr/>
<div class="harvest">
  <% if @settings.last_harvest %>
  <div class="date">
    <span class="label"><strong><%= _('Last execution:') %></strong></span>
    <span class="value"><%= time_ago_as_sentence @settings.last_harvest %></span>
  </div>
<% end %>
  <div class="actions">
    <% if @harvest_running %>
      <%= _('Running...') %>
    <% else %>
      <%= button :next, _('Force harvest'), :action => :force_harvest %>
      <%= button :next, _('Force harvest from start'), :action => :force_harvest, :from_start => true %>
    <% end %>
  </div>
</div>

<hr />

<div class="triple-management">
  <div class="actions">
    <%= button :edit, _('Triple management'), :action => :triple_management %>
    <%= button :edit, _('Custom Queries'), :action => :index, :controller => 'virtuoso_plugin_custom_queries' %>
  </div>
</div>
