<div id="virtuoso-triples-management">
  <h1><%= _('Virtuoso settings &raquo; Triples Management')%></h1>

  <%= form_tag('/admin/plugin/virtuoso/triples_management', :method => 'post') do %>
    <%= labelled_form_field(_('Graph URI:'), text_field_tag(:graph_uri, @graph_uri) ) %>
    <%= labelled_form_field(_('Query SPARQL:'), text_area_tag(:query, @query, :rows => 7)) %>
    <% button_bar do %>
      <%= submit_button(:search, _('Search triples')) %>
      <%= colorbox_button('add', _('Add a triple'), { :action => 'add_triple' }) %>
    <% end %>
  <% end %>

  <% unless @triples.empty? %>

  <%= form_tag('/admin/plugin/virtuoso/triple_update', :method => 'post', :id => 'form-triples-edit') do %>
    <%= hidden_field_tag(:graph_uri, @graph_uri) %>

    <ul id="triples-list">

    <% triple_counter = 1 %>

    <% @triples.each { |triple| %>

      <li id="triple-<%=triple_counter%>">
        <ul class="triple">
          <li>
            <%= hidden_field_tag("triples[triple#{triple_counter}[from][subject]]", triple[:s].to_s) %>
            <%= labelled_form_field(_('Subject:'), text_field_tag("triples[triple#{triple_counter}[to][subject]]", triple[:s].to_s) ) %>
          </li>
          <li>
            <%= hidden_field_tag("triples[triple#{triple_counter}[from][predicate]]", triple[:p].to_s) %>
            <%= labelled_form_field(_('Predicate:'), text_field_tag("triples[triple#{triple_counter}[to][predicate]]", triple[:p].to_s) ) %>
          </li>
          <li>
            <%= hidden_field_tag("triples[triple#{triple_counter}[from][object]]", triple[:o].to_s) %>
            <%= labelled_form_field(_('Object:'), text_field_tag("triples[triple#{triple_counter}[to][object]]", triple[:o].to_s) ) %>
          </li>
          <li class="triple-actions">
            <%= button :save, _('Update triple'), {}, :href => '#', :onclick => "update_triple(#{triple_counter}); return false;" %>
            <%= button :remove, _('Remove triple'), {}, :href => '#', :onclick => "remove_triple(#{triple_counter}); return false;" %>
          </li>
        </ul>
      </li>

      <% triple_counter += 1 %>

    <% } %>

    </ul>

  <% end %>

  <% end %>

</div>

<%= javascript_include_tag '/plugins/virtuoso/triples_management.js' %>
