<h1><%= _('Notifications')%></h1>


<div id='leave_note'>
  <%= flash[:error] %>
  <%= form_remote_tag :url => {:action => 'notifications'}, :update => 'notifications', :success => "$('leave_notification_content').value='';$('leave_notification_title').value=''", :complete => "jQuery('#leave_notification_form').removeClass('loading').find('*').attr('disabled', false)", :loading => "jQuery('#leave_notification_form').addClass('loading').find('*').attr('disabled', true)", :html => {:id => 'leave_notification_form' } do %>
    <%= _('Title:') %>
    <%= text_field :event, :name, :id => 'leave_notification_title' %>
    <%= limited_text_area :event, :body, 420, 'leave_notification_content', :cols => 50, :rows => 3, :class => 'autogrow' %>
    <%= submit_button :new, _('New') %>
  <% end %>
</div>
	

<ul id='notifications'>
<% @events.map do |event| %>
  <%= render :partial => 'event', :locals => {:event => event}%>
<% end %>
</ul>
