<h1><%= _('DSpace Communities') %></h1>

<%= hidden_field_tag 'article[parent_id]', @article.parent_id %>

<% dspace_server_url = @article.parent.dspace_server_url %>

<% communities = Dspace::Community.get_all_communities_from(dspace_server_url).map { |community| item = [_(community.name), community.id] } %>

<table id="community_fields_conf" border="0" style="border-bottom: 1px solid #c0c0c0;">
  <tr style="background-color: #f0f0f0; border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0;">
    <td style="font-style: italic">
      <%= _("Check/Uncheck All Unlocked")%>
    </td>
    <td align="center">
      <input type="checkbox" id="community_active" />
    </td>
  </tr>

  <% dspace_communities_ids = DspacePlugin::Communityy.find(:all, :conditions => { :parent_id => @article.parent_id }).map { |community| ids = community.dspace_community_id.to_i } %>

  <% communities.each do |community| %>

  <tr>
    <td>
      <%= community[0] %>
    </td>

    <% if dspace_communities_ids.include? community[1] %>
    <td align="center">
      <%= check_box_tag "article[dspace_communities][][id]", community[1], true, :disabled => 'disabled', :id => "community_id_#{community[1]}" %>
      <%= hidden_field_tag "article[dspace_communities][][name]", community[0], :disabled => 'disabled' %>
    </td>
    <% else %>
    <td align="center">
      <%= check_box_tag "article[dspace_communities][][id]", community[1], false, :id => "community_id_#{community[1]}" %>
      <%= hidden_field_tag "article[dspace_communities][][name]", community[0], :disabled => 'disabled', :id => "community_name_#{community[1]}" %>
    </td>
    <% end %>

  </tr>

  <% end %>

</table>

<%= javascript_include_tag 'plugins/dspace/javascripts/dspace_plugin' %>
