<%= error_messages_for 'library' %>

<h1><%= _('My Library') %></h1>

<%= render :file => 'shared/tiny_mce' %>

<%= required f.text_field(:name, :size => '64', :maxlength => 150, :onchange => "updateUrlField(this, 'article_slug')") %>

<%= render :partial => 'general_fields' %>

<script type="text/javascript">
  function submit_button(index) {
     return $("article_slug").form.select("input.submit")[index];
  }
  function warn_value_change() {
     show_warning('article-formitem', "slug-change-confirmation");
     disable_button(submit_button(0));
     disable_button(submit_button(1));
  }
  function confirm_change() {
     enable_button(submit_button(0));
     enable_button(submit_button(1));
     hide_warning('slug-change-confirmation');
  }
  function no_change() {
     $("article_slug").value = $("old_article_slug").value;
     enable_button(submit_button(0));
     enable_button(submit_button(1));
     hide_warning('slug-change-confirmation');
  }
</script>

<%= hidden_field_tag 'old_article_slug', @article.slug %>
<div id="article-formitem">
  <%= labelled_form_field( _('Address'),
        content_tag('code',
          url_for(@article.url).gsub(/#{@article.slug}$/, '') +
          text_field(:article, :slug, :onchange => "warn_value_change()", :size => 25)
        ) +
        content_tag('div',
          content_tag('strong', _('WARNING!')) + '&nbsp;' +
            _("You are about to change the address, and this will break external links to this blog or to posts inside it. Do you really want to change?") +
          content_tag('div',
            button_to_function(:ok, _("Yes"), "confirm_change()") + ' ' +
            button_to_function(:cancel, _('No'), 'no_change()')
          ),
          :id => 'slug-change-confirmation',
          :class => 'change-confirmation',
          :style => 'display: none;'
        )
      )
  %>
</div>

<%= labelled_form_field(_('Description:'), text_area(:article, :body, :rows => 10)) %>

<%= f.fields_for :image_builder, @article.image do |i| %>
  <%= file_field_or_thumbnail(_('Cover image:'), @article.image, i)%>
  <%= _("Max size: %s (.jpg, .gif, .png)")% Image.max_size.to_humanreadable %>
<% end %>

<% unless @article.image.nil? %>
  <%= labelled_check_box(_('Remove cover image'),'remove_image',true,false)%>
<% end %>

<%= labelled_form_field(_('Show catalog as:'), f.select(:visualization_format, [ [ _('Listing with thumbnail'), 'full'], [ _('Listing without thumbnail'), 'short'], [ _('Type catalog'), 'catalog'] ])) %>

<%= labelled_form_field(_('Items per page:'), f.select(:posts_per_page, Blog.posts_per_page_options)) %>

<%= labelled_form_field(_('Address of DSpace library:'), text_field(:article, :server_url)) %>

<%= content_tag( 'div', radio_button( :article, :gather_option, 'collections' ) + content_tag('label', _('Get collections'), :for => 'article_get_collections')) %>

<%= content_tag( 'div', radio_button( :article, :gather_option, 'communities' ) + content_tag('label', _('Get communities'), :for => 'article_get_collections')) %>

